@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.color {
  color: #1bbc9b;
  font-weight: 500;
}

p {
  color: #8896a1;
  font-size: 16px !important;
  line-height: 25px;
  font-weight: 600;
}

li {
  list-style-type: none;
}

#border_none {
  border: none !important;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button a {
  text-decoration: none;
}

.df {
  display: flex;
}

#title h3 {
  color: #d8d9da;
  font-weight: 300 !important;
}

.sec_title {
  color: white;
  text-align: center;
  padding-top: 100px;
  text-transform: capitalize;
}
.sec_title .su_title {
  font-weight: 400;
  font-size: 40px;
}
.sec_title .main_title {
  color: #ffffff;
  font-weight: 400;
}

.desc_hed {
  background-color: #222534;
  height: 80px;
  padding: 0;
  margin: 0;
}
.desc_hed .nav_bar {
  margin-top: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desc_hed .nav_bar li .num {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  height: 20px;
  width: 20px;
  margin-left: -3px;
  background-color: #a9cf55;
}
.desc_hed .nav_bar li a {
  text-decoration: none;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  display: block;
  padding: 10px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
}
.desc_hed .nav_bar li a span {
  color: white;
}
.desc_hed .nav_bar li a:hover {
  color: #1bbc9b !important;
}
.desc_hed .nav_bar li a:hover i {
  color: #ffffff;
}

.hero_banner {
  height: 850px;
  width: 100vw;
  background-size: cover !important;
  background-blend-mode: overlay;
}
.hero_banner .hreo_con {
  display: flex;
  align-items: center;
  height: 850px;
}
.hero_banner .hreo_con .herohead {
  font-weight: bold;
  font-size: 55px;
  color: white;
  background-color: #222534;
  padding: 10px;
  text-transform: uppercase;
}
.hero_banner .hreo_con .hero_sub_head {
  text-transform: uppercase;
  color: #21c2f8;
  font-size: 30px;
  background-color: #222534;
  padding: 5px;
  width: 560px;
}
.hero_banner .hreo_con .buttons button {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  margin-right: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: none;
  background-color: #222534;
  border: none;
  border-bottom: 5px solid #010e16;
}
.hero_banner .hreo_con .buttons button a {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  padding: 20px 30px;
}
.hero_banner .hreo_con .buttons .com_plan:hover {
  background-color: rgba(255, 255, 255, 0);
}
.hero_banner .hreo_con .buttons .com_plan:hover a {
  color: #a9cf55;
}
.hero_banner .hreo_con .buttons .com_plan_1:hover {
  background-color: #a9cf55;
}
.hero_banner .hreo_con .buttons .com_plan_1:hover a {
  color: #ffffff;
}

.services {
  padding: 100px 0px;
  background-color: #222534;
  display: flex;
}
.services .title {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.services .title .cad_1 {
  text-align: center;
}
.services .title .cad_1 h5 {
  margin-top: 20px;
  color: #ffffff;
}
.services .title .cad_1 h3 {
  margin-top: 20px;
  color: #ffffff;
}
.services .title .cad_1 .icon_div {
  display: flex;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}
.services .title .cad_1 .icon_div i {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border: 3px solid #344a5f;
  font-size: 40px;
  background-color: #21c2f8;
}
.services .title .cad_1 .icon_div i:hover {
  height: 150px;
  width: 150px;
  border: 15px solid rgba(0, 0, 0, 0.2196078431);
  outline: 10px solid rgba(33, 194, 248, 0.2470588235);
}

.Great_Feature {
  padding: 100px 0px;
  height: auto;
}
.Great_Feature .sec_title {
  margin-top: 100px;
}
.Great_Feature .sec_title .ul_li_a {
  margin-bottom: 60px;
}
.Great_Feature .sec_title .ul_li_a a {
  color: #8896a1;
}
.Great_Feature .sec_img {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Great_Feature .serv_card .icon {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  display: flex;
  align-items: center;
  color: white;
}
.Great_Feature .serv_card .icon * {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.Great_Feature .serv_card .icon .ico_head a {
  font-size: 24px;
  text-decoration: none;
  color: white;
}
.Great_Feature .serv_card .icon .ico {
  cursor: pointer;
  -webkit-clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
          clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  background-color: #fff;
  padding: 0;
}
.Great_Feature .serv_card .icon i {
  display: block;
  font-size: 18px;
  -webkit-clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
          clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  background-color: #1e212a;
}
.Great_Feature .serv_Dec .view_more {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  color: #1bbc9b;
}
.Great_Feature p {
  text-align: justify;
  font-size: 14px;
}
.Great_Feature .con {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  width: 140px;
  height: 5px;
  background-color: #a9cf55;
}
.Great_Feature .icon:hover .ico {
  background-color: #1bbc9b;
}
.Great_Feature .icon:hover .ico i {
  background-color: #1bbc9b;
}

.myworks .cont {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: 100%;
}
.myworks .cont * {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.myworks .cont img {
  width: 100%;
  height: 100%;
}
.myworks .description {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
}
.myworks .description .details {
  position: absolute;
  top: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40%;
  width: 100%;
  background-color: rgba(30, 33, 42, 0.8901960784);
}
.myworks .description .details .line {
  height: 2px;
  width: 20px;
  margin-bottom: 8px;
  background-color: white;
}
.myworks .description .details span {
  text-transform: capitalize;
  color: #a1b2bc;
  font-weight: bold;
}
.myworks .description .details .D_hed {
  text-transform: capitalize;
  color: white;
}
.myworks .description .fullscren {
  position: absolute;
  background-color: rgba(27, 188, 156, 0.7803921569);
  margin-top: -160%;
  height: 60%;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.myworks .description .fullscren i {
  color: #1bbc9b;
  font-size: 80px;
  color: white;
  font-weight: 100 !important;
}
.myworks .cont:hover .description {
  top: 0%;
}
.myworks .cont:hover .description .fullscren {
  margin-top: 0%;
}

#services {
  background-color: #21c2f8;
}
#services #cad_1 #icon_div i {
  font-size: 30px;
  width: 90px;
  height: 90px;
  padding: 30px;
  border: 5px solid #ffffff;
}
#services #cad_1 #icon_div i:hover {
  background-color: #222534;
  outline: 10px solid #fff;
}
#services #cad_1 h3 {
  font-weight: normal !important;
  font-size: 50px;
  font-family: "Heebo", sans-serif;
}

.blgo_section {
  height: 600px;
  background-color: #222534;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.blgo_section * {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.blgo_section .blgo_title {
  margin-top: 100px;
}
.blgo_section .blgo_title h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 100;
}
.blgo_section .blgo_title button {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  padding: 10px;
  width: 60px;
  height: 60px;
  border: none;
  margin-right: 10px;
}
.blgo_section .blgo_title button * {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.blgo_section .blgo_title button a {
  color: #ffffff;
}
.blgo_section .blgo_title .blgo_button_1 {
  background-color: #8896a1;
  color: #ffffff;
}
.blgo_section .blgo_title .blgo_button_2 {
  background-color: #34495e;
  color: #ffffff;
}
.blgo_section .blgo_title .blgo_button_1:hover {
  background-color: #34495e;
  color: #ffffff;
}
.blgo_section .blgo_title .blgo_button_2:hover {
  background-color: #8896a1;
  color: #ffffff;
}
.blgo_section .blgo_img {
  display: flex;
}
.blgo_section .blgo_img .blgo_cad {
  margin-top: 100px;
  margin-left: 20px;
}
.blgo_section .blgo_img .blgo_cad img {
  width: 100%;
  height: 250px;
}
.blgo_section .blgo_img .blgo_cad .conten {
  height: 200px;
  background-color: #1a1c28;
}
.blgo_section .blgo_img .blgo_cad .conten h4 {
  font-size: 20px;
  color: #ffffff;
  margin-top: 20px;
}
.blgo_section .blgo_img .blgo_cad .conten .button_title {
  align-items: center;
  color: #ffffff;
}
.blgo_section .blgo_img .blgo_cad .conten .button_title button {
  width: 100%;
  background-color: #8896a1;
  border: none;
  height: 50px;
  font-weight: bold;
  margin-bottom: -30px;
}
.blgo_section .blgo_img .blgo_cad .conten .button_title button a {
  color: #ffffff;
}
.blgo_section .blgo_img .blgo_cad .conten .button_title i {
  margin-bottom: -30px;
  padding: 16px;
  width: 50px;
  height: 50px;
  background-color: #34495e;
}
.blgo_section .blgo_img .blgo_cad .conten .button_title button:hover {
  background-color: #1bbc9b;
}
.blgo_section .blgo_img .blgo_cad .conten .button_title i:hover {
  background-color: #1bbc9b;
}

.Testimonials {
  display: flex;
  justify-content: space-between;
  height: 700px;
  background-size: 2000px 700px !important;
  background: rgba(0, 0, 0, 0.6196078431) no-repeat;
  background-blend-mode: overlay;
}
.Testimonials .Clients {
  margin-top: 70px;
}
.Testimonials .Clients .Clients_img img {
  width: 150px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  height: 150px;
}
.Testimonials .Clients .Clients_img h5 {
  color: #18bc9a;
}
.Testimonials .Clients .Clients_img p {
  color: #ffffff;
  font-weight: normal;
}
.Testimonials .Clients .Clients_title {
  display: flex;
  justify-content: center;
}
.Testimonials .Clients .Clients_title img {
  margin-bottom: 60px;
  width: 120px;
  margin-right: 40px;
}

.Team {
  height: 1600px;
  background-color: #1e212a;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.Team * {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.Team .team_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Team .team_button button {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 50px;
  width: 200px;
  height: 60px;
  border: none;
  background-color: #a1b2bc;
}
.Team .team_button button a {
  color: #ffffff;
  font-weight: bold;
}
.Team .sec_title h2 {
  font-weight: 10;
  font-family: "Heebo", sans-serif;
}
.Team .cad_df {
  margin-top: 50px;
  border: 1px solid #363845;
  padding: 0;
  width: 300px;
  margin-left: 20px;
}
.Team .cad_df .feedback img {
  width: 300px;
  height: 300px;
}
.Team .cad_df .colten {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #363845;
}
.Team .cad_df .colten .feedback_title h6 {
  color: #ffffff;
  margin-top: 20px;
}
.Team .cad_df .colten .feedback_icon {
  margin-left: 50px;
}
.Team .cad_df .colten .feedback_icon i {
  color: #8896a1;
  padding: 5px;
}
.Team .cad_df .colten .feedback_icon i:hover {
  color: #21c2f8;
}
.Team .cad_df .pr {
  font-size: 10px !important;
  margin-top: 10px;
}

.Features {
  display: flex;
  height: 915px;
  background-size: 2000px 915px !important;
  background: rgba(0, 0, 0, 0.6196078431) no-repeat;
  background-blend-mode: overlay;
}
.Features .sec_title {
  font-weight: 100;
}
.Features .sec_title h2 {
  font-weight: 100;
}
.Features .sec_title .main_title {
  color: #eaf0ef;
}
.Features .conten {
  margin-top: 100px;
}
.Features .conten .cad h5 {
  color: #ffffff;
}
.Features .conten .cad #con {
  display: flex;
  align-items: center !important;
  justify-content: start;
  margin-top: 20px;
  margin-left: 40px;
}
.Features .conten .cad .con {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
}
.Features .conten .cad .con i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 55px;
  height: 55px;
  font-size: 20px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  background-color: #1bbc9b;
  border: 2px solid #ffffff;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}
.Features .conten .cad .con i:hover {
  border: 2px solid rgba(0, 0, 0, 0.4588235294);
  outline: 30px;
  background-color: #21c2f8;
}
.Features .conten .cad .conl_p {
  display: flex;
  text-align: right;
}
.Features .conten .cad .conl_p p {
  font-weight: 300;
  margin-top: 10px;
  color: #ffffff;
}
.Features .conten .cad .conl_p #text {
  text-align: left;
  margin-left: 60px;
}
.Features .conten_img {
  margin-top: 50px;
  margin-right: 0px;
}

.contak {
  height: 400px;
  background-color: #1e212a;
}
.contak .con_title {
  margin-top: 100px;
}
.contak .con_title i {
  height: 30px;
  width: 30px;
  color: #1bbc9b;
  padding: 20px;
  font-size: 16px;
  text-align: justify;
}
.contak .form {
  margin-top: 100px;
  display: flex;
}
.contak .form form .input_icon {
  color: #ffffff;
  margin-top: 20px;
}
.contak .form form .input_icon input {
  width: 270px;
  height: 34px;
  background-color: #222534;
  border: 2px solid #32353c;
  padding-left: 10px;
  color: #ffffff;
  outline: 0px;
}
.contak .form form .input_icon input::-moz-placeholder {
  color: #8896a1;
}
.contak .form form .input_icon input::placeholder {
  color: #8896a1;
}
.contak .form form .input_icon i {
  position: absolute;
  height: 28px;
  margin-top: 4px;
  width: 20px;
  color: #464c58;
  margin-left: -30px;
  padding: 4px;
  font-size: 14px;
}
.contak .form .input_cad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 88px;
  width: 300px;
  background-color: #222534;
  border: 2px solid #32353c;
  padding-left: 10px;
  color: #ffffff;
  outline: 0px;
}
.contak .form button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 40px;
  width: 300px;
  background-color: #a1b2bc;
  border: 2px solid #11141b;
  color: #ffffff;
  outline: 0px;
  font-weight: bold;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.contak .form button:hover {
  background-color: #222534;
  border: 2px solid #6e7c9e;
}

.Questions {
  display: flex;
  height: 400px;
  background-size: cover;
}
.Questions .conten {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.Questions .conten ul h3 {
  color: #ffffff;
  font-weight: 100;
}
.Questions .conten ul li a {
  text-decoration: none;
  line-height: 30px;
  color: #ffffff;
}
.Questions .conten ul li a i {
  padding: 2px;
}

.Working {
  height: 400px;
  display: flex;
  background-size: cover !important;
  background: no-repeat;
  background-blend-mode: overlay;
}
.Working .Create .Create_button {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.Working .Create .Create_button .button_1 {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  border: none;
  padding: 10px;
  margin-right: 10px;
  width: 200px;
  height: 50px;
  color: #8896a1;
  font-weight: bold;
  background-color: #fff;
}
.Working .Create .Create_button .button_2 {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  border: none;
  padding: 10px;
  margin-right: 10px;
  width: 200px;
  height: 50px;
  color: #fff;
  font-weight: bold;
  background-color: #2d3e50;
}
.Working .Create .Create_button .button_2:hover {
  border: none;
  padding: 10px;
  margin-right: 10px;
  width: 200px;
  height: 50px;
  color: #8896a1;
  font-weight: bold;
  background-color: #fff;
}
.Working .Create .Create_button .button_1:hover {
  border: none;
  padding: 10px;
  margin-right: 10px;
  width: 200px;
  height: 50px;
  color: #fff;
  font-weight: bold;
  background-color: #2d3e50;
}

.All_Rights_Reserved {
  padding: 100px 0px;
  height: 900px;
  background-color: #222534;
}
.All_Rights_Reserved .conten_sapot .conten {
  border-bottom: 1px solid rgba(27, 188, 156, 0.1137254902);
  padding-bottom: 20px;
}
.All_Rights_Reserved .conten_sapot .conten p {
  line-height: 30px;
  margin-top: 20px;
  color: #70818b;
  font-size: 15px !important;
}
.All_Rights_Reserved .conten_sapot .conten a {
  text-decoration: none;
  color: #70818b !important;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.All_Rights_Reserved .conten_sapot .conten a i {
  color: #1bbc9b;
  background-color: #fff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.All_Rights_Reserved .conten_sapot .conten a:hover {
  color: #1bbc9b !important;
  margin-left: 20px;
}
.All_Rights_Reserved .conten_sapot .conten a:hover i {
  color: #1bbc9b !important;
}
.All_Rights_Reserved .conten_sapot .icon_title {
  margin-top: 30px;
  display: flex;
  align-items: center;
  margin-left: -20px;
}
.All_Rights_Reserved .conten_sapot .icon_title .icon {
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.All_Rights_Reserved .conten_sapot .icon_title .icon .title {
  margin-left: 10px;
}
.All_Rights_Reserved .conten_sapot .icon_title .icon .title h6 {
  color: #a2b0bb;
  font-weight: bold;
  line-height: 10px;
}
.All_Rights_Reserved .conten_sapot .icon_title .icon .title span {
  color: #a2b0bb;
  line-height: 10px;
  font-size: 13px;
}
.All_Rights_Reserved .conten_sapot .icon_title .icon i {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.All_Rights_Reserved .conten_sapot .icon_title .icon i:hover {
  background-color: #d30d0d !important;
}
.All_Rights_Reserved .Latest_News {
  display: flex;
  justify-content: end;
}
.All_Rights_Reserved .Latest_News .footer_img {
  border-bottom: 1px solid rgba(27, 188, 156, 0.2274509804);
  padding-bottom: 10px;
}
.All_Rights_Reserved .Latest_News .footer_img .img {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.All_Rights_Reserved .Latest_News .footer_img .img .pil {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #18bc9a;
}
.All_Rights_Reserved .Latest_News .footer_img .img:hover .pil {
  top: 0%;
}
.All_Rights_Reserved .Latest_News .footer_img .title h5 {
  font-weight: bold;
  color: #8896a1;
}
.All_Rights_Reserved .Latest_News .footer_img #title {
  margin-left: 20px;
  margin-top: -6px;
}
.All_Rights_Reserved .Latest_News .footer_img #title span {
  color: #8896a1;
}
.All_Rights_Reserved .Tags_Widget .Tags_Widget_title {
  margin-top: 26px;
}
.All_Rights_Reserved .Tags_Widget .Tags_Widget_title button {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.6823529412);
  margin-top: 10px !important;
  margin-left: 5px;
}
.All_Rights_Reserved .Tags_Widget .Tags_Widget_title button a {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  text-decoration: none;
  color: #8896a1;
  font-weight: 500;
  width: 101 !important;
  height: 46px !important;
}
.All_Rights_Reserved .Tags_Widget .Tags_Widget_title button:hover {
  background-color: #1bbc9b !important;
}
.All_Rights_Reserved .Tags_Widget .Tags_Widget_title button:hover a {
  color: #ffffff !important;
}
.All_Rights_Reserved .Tags_Widget .Useful_Links li {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  list-style: square;
  color: #1bbc9b;
  border-bottom: 1px solid rgba(27, 188, 156, 0.2274509804);
  padding-bottom: 10px;
}
.All_Rights_Reserved .Tags_Widget .Useful_Links li a {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  text-decoration: none;
  color: #8896a1;
  line-height: 40px;
}
.All_Rights_Reserved .Tags_Widget .Useful_Links li:hover {
  color: #ffffff;
}
.All_Rights_Reserved .Tags_Widget .Useful_Links li:hover a {
  color: #1bbc9b;
}
.All_Rights_Reserved .Flickr_Widget .Flickr_Widget_title {
  margin-top: 16px;
}
.All_Rights_Reserved .Flickr_Widget .Flickr_Widget_title .img_conten {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 70px;
  margin-top: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.All_Rights_Reserved .Flickr_Widget .Flickr_Widget_title .img_conten .pil {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 90%;
  background-color: #18bc9a;
}
.All_Rights_Reserved .Flickr_Widget .Flickr_Widget_title .img_conten img {
  height: 100%;
  width: 90%;
}
.All_Rights_Reserved .Flickr_Widget .Flickr_Widget_title .img_conten:hover .pil {
  top: 0%;
}
.All_Rights_Reserved .Flickr_Widget .control form .input_icon {
  color: #ffffff;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.All_Rights_Reserved .Flickr_Widget .control form .input_icon input {
  width: 270px;
  height: 40px;
  background-color: #25293b;
  border: 1px solid rgba(27, 188, 156, 0.3215686275);
  padding-left: 10px;
  color: #ffffff;
  outline: 0px;
}
.All_Rights_Reserved .Flickr_Widget .control form .input_icon input::-moz-placeholder {
  color: #8896a1;
}
.All_Rights_Reserved .Flickr_Widget .control form .input_icon input::placeholder {
  color: #8896a1;
}
.All_Rights_Reserved .Flickr_Widget .control form .input_icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff !important;
  width: 40px;
  height: 40px;
  color: #464c58;
  padding: 10px;
  font-size: 14px;
  background-color: #1bbc9b;
}
.All_Rights_Reserved .vattol {
  margin-top: 128px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #282c3e !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.All_Rights_Reserved .vattol p {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(27, 188, 156, 0.2039215686);
}
.All_Rights_Reserved .vattol ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.All_Rights_Reserved .vattol ul li a {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  padding: 10px;
  color: #8896a1 !important;
  text-decoration: none;
  font-weight: bold;
}
.All_Rights_Reserved .vattol ul li a:hover {
  color: #1bbc9b !important;
}
.All_Rights_Reserved .vattol ul li .color_gap {
  color: #1bbc9b !important;
}/*# sourceMappingURL=style.css.map */